body{
	width:960px;
	margin:10px auto;
	font-family: Arial, "MS Trebuchet", san-serif;
}

p{
	margin:0 0 20px 0;
}

p, li{
	line-height:20px;
}
header#page_header{
	width:100%;
	text-align: center;
}

header#page_header nav ul, footer#page_footer nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
header#page_header nav ul li, footer#page_footer nav ul li{
	padding: 0;
	margin: 0 20px 0 0;
	display: inline;
}

section#allrobots{
	float: left;
	width: 55%;
}

section#posts aside{
	float: right;
	width: 35%;
	margin-left: 5%;
	font-size: 20px;
	line-height: 40px;
}

section#onerobot{
	float: left;
	width: 45%;
}

footer#page_footer{
	clear: both;
	width: 100%;
	display: block;
	text-align: center;
}

table{
	border-collapse:collapse;
	width: 500px;
}

table, td{
	border:1px solid black;
}

table td{
	height: 350px;
}
